/* ########## DEFINE VARIABLES ###########*/

//General fonts
$arial: "Arial", Helvetica, sans-serif;
$times: "Times New Roman", Times, serif;

// General colors
$green: #45e850;
$blue: #8da6d4;
$blue-grey:#3b4861;
$red: #f34141;
$white: #ffffff;
$dark: #111;
$light-grey:#ccc;
$light: #eeeeee;

// General styles
$box-shadow: 10px 10px 5px rgba(17, 17, 17,.3);
$border-radius: 12px;
$container: 1280px;
$container-fluid: 100%;
$padding: 1rem;
$margin: 1rem;
$box-sizing: border-box;
$border: 1px solid $light-grey;

// Text style
$text-center: center;
$text-left: left;
$text-right: right;
$text-shadow: 3px 3px 5px rgba(0, 0, 0,1);
$uppercase: uppercase;

$background-image: url('zima4.jpg');
	